language:
  - node_js
  - python
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
services: rabbitmq
before_script:
  - sudo pip install pre-commit
